# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Folders
bin/
tmp/
vendor/
logs
.idea
_obj
_test

# Dependency directories (remove the comment below to include it)
# vendor/

# Optional eslint cache
.eslintcache

# Editor spesific
.DS_Store
.editorconfig
.vscode

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# wire generation
wire_gen.go
